.qna {
    margin: 1rem;
    background-color: slategrey;
    padding: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem black;
    color: white;
}
.qna div {
    display: flex;
    justify-content: space-between;
}