.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: beige;
}
.qnas {
    width: 50rem;
    max-width: 100%;
    background-color: aliceblue;
    border: 0.6rem;
    padding: 1rem;
}
/* h1 {
    text-align: center;
} */